@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
    @apply p-0 m-0 min-w-full w-full min-h-screen max-w-full overflow-hidden;
}

#__next {
    @apply flex flex-col;
}

* {
    @apply text-sm;
}

h1 {
    @apply text-4xl;
}

h2 {
    @apply text-2xl;
}

h3 {
    @apply text-lg;
}

h4 {
    @apply text-lg;
}
